<h1>Text Processor</h1>
<p>This is a single-page application, built with:</p>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
  <li><a href='http://nunit.org/'>nUnit</a> For server-side unit testing</li>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
  <li><a href='https://webpack.github.io/'>Webpack</a> for building and bundling client-side resources</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
</ul>
<p>Status:</p>
<ul>
  <li>Display statistics about the text, such as how many hyphens, words and spaces inside the given text<strong>- done </strong> </li>
  <li>Create an option to sort the text in different ways, such as alphabetical, number first, capitals first etc<strong> - In Progress</strong></li>
  <li>Enable inputs with different validations, such as only digits, capitals etc - Pending</li>
</ul>
