<div class="container">
  <h1>Text Processor</h1>
  <!--<p *ngIf="!forecasts"><em>Loading...</em></p>-->
  <div class="panel panel-default">
    <div class="panel-heading">Fetch Statistics</div>
    <div class='panel-body'>
      <form #f="ngForm" novalidate>
        <div class="row">
          <div class="col-md-10">
            <label for="name">Text to search</label>
            <textarea rows="12" cols="100" class="form-control" name="TextToSearch"
                      [(ngModel)]="searchTextModel.text"
                      #refModelName="ngModel"
                      id="TextToSearch" required></textarea>
            <div *ngIf="!refModelName.valid  && (refModelName.dirty || refModelName.touched)"
                 class="alert alert-danger">
              <div [hidden]="!refModelName.errors.required">
                Please enter the text to search
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div style="margin-top:10px;" class="col-md-4">
            <button [disabled]="!f.form.valid" class="btn btn-success" id="getStatistics" (click)="getStatistics()">Get Statistics</button>
          </div>
        </div>
        <table class='table' *ngIf="showStatistics">
          <thead>
            <tr>
              <th>Statistic</th>
              <th>count</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of statisticsResult.data">
              <td>{{ item.statisticType }}</td>
              <td>{{ item.count }}</td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>
</div>